@font-face {
  font-family: 'MrEavesModOTReg';
  src: url('../app/fonts/MrEavesModOTReg.otf') format('truetype'); /* Adjust the path to the font file */
  font-weight: 1 999; /* Define the range of font weights */
  font-style: normal;
}

@font-face {
  font-family: 'SchnyderLBold';
  src: url('../app/fonts/SchnyderLBold.otf') format('truetype'); /* Adjust the path to the font file */
  font-weight: 1 999; /* Define the range of font weights */
  font-style: normal;
}

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.ff-MrEavesModOTReg {
  font-family: 'MrEavesModOTReg';
}

.ff-SchnyderLBold {
  font-family: 'SchnyderLBold';
}

.para {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(101 109 115 / var(--tw-text-opacity));
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'MrEavesModOTReg';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.w-100 {
  width: 100%;
}

.w-85 {
  width: 85%;
}
.mt-112 {
  margin-top: 112px;
}

.h1 {
  letter-spacing: 9px;
  font-size: 44px;
}

.h2 {
  font-family: 'Schnyder L' !important;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  font-weight: 500 !important;
  letter-spacing: 1.6px !important;
  color: rgb(4 33 52 / var(--tw-text-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(186 155 55 / var(--tw-text-opacity)) !important;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}
/* styles/globals.css */
.swiper-scrollbar {
  width: 45% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  height: 5px; /* Height of the scrollbar */
}

.swiper-scrollbar-drag {
  background-color: #000; /* Blue draggable part */
  border-radius: 10px;
}

.animate {
  animation: appear 1s ease-in-out forwards;
}
.imgHeight {
  height: 65vh !important;
}
.bg-lanaDarkBlue {
  --tw-bg-opacity: 1;
  background-color: rgb(5 28 44 / var(--tw-bg-opacity));
  height: 580px !important;
  color: white;
}
.inputItem {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#footer.animate {
  bottom: -60px;
}
#footer {
  transition: bottom 0.6s;
}
#footer.sticked {
  bottom: 0;
  z-index: 20;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.cross-icon {
  width: 20px;
  height: 20px;
  color: #000;
}
.cr-pointer {
  cursor: pointer;
}
.formHeading {
  font-size: 26px;
  font-weight: 600;
}
